img{
    cursor: pointer;
}

button{
    background-color: transparent;
    border: none;
}

.hidden{
    display: none;
}

.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    max-width: 1080px;
}

.task-grid {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: 1fr 1.08fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-bottom: 16px;
}

.progress-wrapper {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    background-color: #fff;
    padding: 24px 32px 28px;
    width: 496px;
    height: 180px;
    border-radius: 30px;
}

.progress-header{
    margin-bottom: 24px;
}

.lastGrades {
    background-color: #fff;
    border-radius: 30px;
    padding: 24px 32px 32px;
}

.schedule {
    grid-area: 3 / 2 / 1 / 2;
    background-color: #fff;
    border-radius: 30px;

}

.progress-title{
    margin-right: 32px;
}

.title{
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
}

.grade-wrapper{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

#progressAVG{
    display: inline-block;
}

.progress{
    padding: 0 10px;
    line-height: 24px;
    background-color: #F0BB54;
    border-radius: 15px;
    width: 28px;
    text-align: center;
    height: 24px;
}

.custom-select {
    float: right;
    width: 192px;
    color: #0957EF;
    text-align: center;
    position: relative;
    display: inline-block;
    line-height: 30px;
}

.selected-option {
    cursor: pointer;
    border-radius: 4px;
    padding-right: 16px;
}

.options {
    position: absolute;
    display: none;
    background-color: #fff;
    color: #9c9c9c;
    box-shadow: 0px 4px 30px 0px #00000026;
    border-radius: 20px;
    margin-top: 4px;
    list-style-type: none;
    width: 100%;
    z-index: 1;
    font-size: 14px;
}

.options.show {
    display: block;
}

.options li:not(:first-child){
    border-top: 1px solid #eee;
}

.options li {
    padding: 1px 24px;
    text-align: left;
    cursor: pointer;
}

.options li:hover {
    color: #0957EF;
}

.lastGrade-wrapper{
    display: flex;
    gap: 16px;
}

.lastGrade{
    width: 80px;
    border-radius: 20px;
    text-align: center;
    text-wrap: wrap;
    padding: 20px 16px 26px;
    max-height: 144px;
}

.lastGrade-title {
    margin-bottom: 20px;
}

.lastGrade-name{
    font-size: 16px;
    margin-bottom: 26px;
    /* width: 80px; */
}

.lastGrade-progress{
    display: inline-block;
    padding: 4px 18px;
    line-height: 24px;
    background-color: #F0BB54;
    color: #fff;
    border-radius: 15px;
    width: 28px;
    text-align: center;
    height: 24px;
    font-size: 14px;
}

.schedule-header{
    display: flex;
    gap: 24px;
    padding: 24px 48px 16px;
    border-bottom: 1px solid #eee;
}

.selectDate-slider{
    display: flex;
    align-items: center;
}

.selected_date{
    font-size: 10px;
    border-radius: 25px;
    line-height: 15px;
    background-color: #5D7CFB;
    color: #fff;
    padding: 4px 22px;
}

#prevDate,
#nextDate{
    height: 24px;
}

.schedule-content{
    padding: 8px 48px 24px;
}

.schedule-content-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.schedule-task_name,
.schedule-task_start{
    line-height: 24px;
    font-size: 16px;
}

.schedule-group_name,
.schedule-task_duration{
    font-size: 14px;
    line-height: 21px;
}

.schedule-time_info{
    text-align: center;
}

.schedule-group_name{
    color: #9c9c9c;
}

.schedule-task_start{
    color: #5D7CFB;
}

.group-grid{
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: 428px;
    /* padding-bottom: 24px; */
}

.task-wrapper{
    background-color: #fff;
    border-radius: 30px;
    height: 428px;
    /* overflow-y: scroll; */
    position: relative;
}

.task-container{
    max-height: 352px;
    overflow-y: scroll;
}

.group-wrapper{
    overflow-y: scroll;   
}

.task-header{
    padding: 24px 0px 24px 32px;
    border-bottom: 1px solid #eee;
}

.task-container-item{
    padding: 8px 32px 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.item-name{
    font-size: 14px;
    line-height: 21px;
    color: #2e2e2e;
}

.item-time{
    text-align: right;
}

.item-grade{
    font-size: 10px;
    line-height: 15px;
    color: #4e4e4e;
}

.item-group, .item-date{
    font-size: 10px;
    line-height: 15px;
    color: #5D7CFB;
}

.circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.passed{
    background-color: #5D7CFB;
}

.group-wrapper{
    overflow-y: scroll;
}

.group-item:not(:first-child){
    margin-top: 16px;
    
}

.group-item{
    background-color: #fff;
    border-radius: 30px;
    padding: 32px;
}

.group-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.group-name{
    font-size: 20px;
    line-height: 30px;
    color: #2e2e2e;
    margin-bottom: 8px;
}

.group-type, .percent-text{
    font-size: 14px;
    line-height: 21px;
    color: #9c9c9c;
}

.group-content-info{
    text-align: right;
}

.group-activity{
    font-size: 16px;
    line-height: 24px;
    color: #4e4e4e;
}

.group-AVG{
    font-size: 14px;
    line-height: 21px;
    color: #4e4e4e;
}

.group-progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percent-text{
    margin-bottom: 8px;
}

.percent-scale{
    display: flex;
    gap: 16px;
}
