@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Medium.eot');
    src: local('Lufga Medium'), local('Lufga-Medium'),
        url('Lufga-Medium.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Medium.woff2') format('woff2'),
        url('Lufga-Medium.woff') format('woff'),
        url('Lufga-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-ExtraLight.eot');
    src: local('Lufga ExtraLight'), local('Lufga-ExtraLight'),
        url('Lufga-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Lufga-ExtraLight.woff2') format('woff2'),
        url('Lufga-ExtraLight.woff') format('woff'),
        url('Lufga-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Black.eot');
    src: local('Lufga Black'), local('Lufga-Black'),
        url('Lufga-Black.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Black.woff2') format('woff2'),
        url('Lufga-Black.woff') format('woff'),
        url('Lufga-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Regular.eot');
    src: local('Lufga Regular'), local('Lufga-Regular'),
        url('Lufga-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Regular.woff2') format('woff2'),
        url('Lufga-Regular.woff') format('woff'),
        url('Lufga-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-ExtraBold.eot');
    src: local('Lufga ExtraBold'), local('Lufga-ExtraBold'),
        url('Lufga-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Lufga-ExtraBold.woff2') format('woff2'),
        url('Lufga-ExtraBold.woff') format('woff'),
        url('Lufga-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Light.eot');
    src: local('Lufga Light'), local('Lufga-Light'),
        url('Lufga-Light.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Light.woff2') format('woff2'),
        url('Lufga-Light.woff') format('woff'),
        url('Lufga-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Bold.eot');
    src: local('Lufga Bold'), local('Lufga-Bold'),
        url('Lufga-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Bold.woff2') format('woff2'),
        url('Lufga-Bold.woff') format('woff'),
        url('Lufga-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-SemiBold.eot');
    src: local('Lufga SemiBold'), local('Lufga-SemiBold'),
        url('Lufga-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Lufga-SemiBold.woff2') format('woff2'),
        url('Lufga-SemiBold.woff') format('woff'),
        url('Lufga-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Thin.eot');
    src: local('Lufga Thin'), local('Lufga-Thin'),
        url('Lufga-Thin.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Thin.woff2') format('woff2'),
        url('Lufga-Thin.woff') format('woff'),
        url('Lufga-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Vindea'; 
    src: url('../fonts/Vindea.woff') format('woff'),
         url('../fonts/Vindea.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

::before,
::after,
* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Lufga"; 
    font-weight: 100;
    font-style: normal;
    background-color: #f5f5f5;
}


.logo{
    width: 127px;
    position: absolute;
    top: 40px;
    left: 40px;
}