::before,
::after,
* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #4E4E4E;
}

.logo{
    top: 40px;
    left: 24px;
}

.wrapper{
    display: flex;
    gap: 64px;
    min-height: 100vh;
}

.sidebar{
    max-width: 280px;
    width: 100%;
    background-color: #fff;

}

.sidebar-list{
    padding: 24px;
    list-style-type: none;
    margin-top: 128px;
    width: 232px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-top: 1px solid #F5F5F5;
}

.side_bar-icon{
    width: 20px;
}

.sidebar-item{
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    line-height: 70px;
    text-align: left;
    transition: all 0.5s;
}

.log_out-btn{
    margin-top: 206px;
}

.sidebar-item.active {
    background-color: #5D7CFB;
    padding: 0 24px;
}

.sidebar-item.active a{
    color: #fff;
}

.active-icon svg,
.active-icon path, 
.active-icon circle{
    fill: #fff;
}

.content{
    /* max-width: 971px;

    background-color: #fff;
    border-radius: 30px; */
    width: 100%;
    padding: 5px ;
    margin-top: 10px;
    height: fit-content;
}



