::before,
::after,
* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 853px;
    margin: 59px;
    width: 100%;
    margin: 48px 59px 67px 59px;
}

.wrapper{
    display: flex;
    gap: 59px;
    min-height: 100vh;
}

.sidebar{
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    padding: 48px 30px 0 30px;
}

.sidebar-list{
    list-style-type: none;
    max-width: 271px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.sidebar-item{
    width: 100%;
    font-size: 24px;
    border-radius: 30px;
    line-height: 70px;
    text-align: center;
    transition: all 0.5s;
}

.sidebar-item.active {
    background-color: #F5F5F5;
}

.content{
    max-width: 971px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px ;
    margin-top: 10px;
    height: fit-content;
}

