.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 10px;
}

.title {
    font-family: "Vindea";
    font-size: 60px;
    font-weight: 400;
    margin: 132px 0 32px 0;
    text-align: center;
}

a{
    text-decoration: none;
    cursor: pointer;
}

p{
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    height: 43px;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: 1px solid #5D7CFB; 
}

.form-group span {
    position: absolute;
    top: -25%;
    left: 10px;
    color: #999;
    background-color: #fff;
    padding: 0 24px;
    transition: all 0.3s ease;
    pointer-events: none;
}

input:focus + span,
input:not(:placeholder-shown) + span {
    color: #333;
}

/* .btn{
    width: 100%;
    margin: 122px 0 20px;
} */

.hidden {
    display: none;
}


.reset-box{
    background-color: #fff;
    max-width: 600px;
    height: 600px;
    border-radius: 30px;
}

.confirm-email-box{
    max-width: 436px;
    padding: 0 10px;
    margin: 0 auto;
    padding: 84px 0;
}

.sub_title{
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

.email{
    margin: 100px 0 122px;
}

.btn{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.message-box{
    padding: 176px 76px 144px;
    text-align: center;
}

.message{
    margin-bottom: 144px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.a-btn{
    display: inline-block;
    line-height: 64px;
    width: 100%;
}

.create-password-box{
    padding: 64px 72px 72px;
}

.create-password-title{
    margin-bottom: 80px;
}

#confirmPassword-group{
    margin: 64px 0;
}