
body {
    min-height: 1vh;
    color: #000;
}

h1{
    font-size: 40px;
    margin: 125px 0 65px 0;
}

h2{
    font-size: 30px;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 10px;
}

.register-box{
    max-width: 808px;
    background-color: #fff;
    margin: 10px auto 0;
    padding: 64px 100px 48px;
    border-radius: 30px;
}

.register-box-student{
    height: 713px;
    margin-top: 50px;
}

.title {
    font-family: "Vindea";
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    text-align: center;
}

.sign_title{
    margin-bottom: 64px;
    line-height: 64px;
    font-size: 24px;
}

.sign_up-form{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.sign_up-box{
    text-align: center;
    background-color: #fff;
    padding: 84px 72px;
    border-radius: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    height: 43px;
    padding: 10px;
    border: 0.5px solid #ccc;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: 1px solid #5D7CFB; 
}

.btn{
    font-size: 30px;
    display: block;
    line-height: 44px;
    background-color: #eee;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #5D7CFB;
    transition: all 0.7s;
    text-decoration: none;
}

.btn:hover{
    color: #1018D0;
    background: #BAC8FF;
}

.form-group{
    margin-bottom: 52px;
}

.form-group-student {
    margin-bottom: 53px;
}

.form-group span {
    position: absolute;
    top: -25%;
    left: 10px;
    color: #999;
    background-color: #fff;
    padding: 0 24px;
    transition: all 0.3s ease;
    pointer-events: none;
}

input:focus + span,
input:not(:placeholder-shown) + span {
    color: #333;
}

.sign_btn{
    width: calc(100% - 160px);
    margin-bottom: 24px;
}